html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.main {
  text-align: center;
  background: "img/background_main_img.jpg" no-repeat center center;
  background-size: cover;
  height: 600px;

.mainCol2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 150px;
}

.mainCol3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 150px;
}


#content1 {
  height: 500px;
  background-color: #b3acd0;
  display: none;
}

#content2 {
  height: 500px;
  background-color: #b3acd0;
  display: none;
}

#content3 {
  height: 500px;
  background-color: #b3acd0;
  display: none;
}

#content4 {
  height: 500px;
  background-color: #acc0d0;
  display: none;
}

#address {
  font-family: verdana;
  color: #7ac2dd;
}
