body {
  background-image: url(../img/portfolio_bg.jpg);
  background-color: #87c8dc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#LOGO {
  height: 300px;
  margin: auto;
  display: block;
}

#icons_1 {
  height: 50px;
  text-align: left;
}

#icons_2 {
  height: 50px;
  text-align: left;
}

#icons_3 {
  height: 50px;
  text-align: left;
}

#icons_4 {
  height: 50px;
  text-align: left;
}



.bar {
  height: 20px;
}

#group_bars_text {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 60px
  position: relative;
  text-align: center;

}
#bar1 {
  background-color: #40adc8;
}
#bar2 {
  background-color: #9198cb;
}
#bar3 {
  background-color: #70c4b2;
}
#bar4 {
  background-color: #dd9db2;
}

#content1 {
  height: 700px;
  background-color: #fff;
  display: none;
}

#content2 {
  height: 700px;
  background-color: #fff;
  display: none;
}

#content3 {
  height: 700px;
  background-color: #fff;
  display: none;
}

#content4 {
  height: 700px;
  background-color: #fff;
  display: none;
}

#address {
  font-family: verdana;
  color: #7ac2dd;
}


.line {
  height: 1px;
  background-color: #fff;
}

#address {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
